<% if @vehs.any? %>
	<div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Dominio</th>
                                            <th>Acciones</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                       <%= render 'garage_ar/shared/vehstableitem', collection: @vehs %> 
                                        
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
<%end%>
